################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdScanner/IdScanner/bin/Debug/net8.0
/IdScanner/IdScanner/obj
/IdScanner/IdScanner.Application/bin/Debug/net8.0
/IdScanner/IdScanner.Application/obj
/IdScanner/IdScanner.Domain/bin/Debug/net8.0
/IdScanner/IdScanner.Domain/obj
/IdScanner/IdScanner.Infrastructure/bin/Debug/net8.0
/IdScanner/IdScanner.Infrastructure/obj/Debug/net8.0
/IdScanner/IdScanner.UI/bin/Debug/net8.0
/IdScanner/IdScanner.UI/obj
/IdScanner/IdScanner.UI.Application/bin/Debug/net8.0
/IdScanner/IdScanner.UI.Application/obj
/IdScanner/IdScanner.UI.Domain/bin/Debug/net8.0
/IdScanner/IdScanner.UI.Domain/obj
/IdScanner/IdScanner.UI.Infrastructure/bin/Debug/net8.0
/IdScanner/IdScanner.UI.Infrastructure/obj
/IdScanner/ldScanner.API/bin/Debug/net8.0
/IdScanner/ldScanner.API/obj
/.vs
/IdScanner/.vs
/IdScanner/IdScanner.Infrastrure/obj/Release/net8.0
/IdScanner/IdScanner.Infrastrure/obj/project.nuget.cache
/IdScanner/IdScanner.Infrastrure/obj
/IdScanner/IdScanner.Infrastrure/bin
/IdScanner/SocPass.API/obj
/IdScanner/SocPass.API/bin/Debug/net8.0
/IdScanner/SocPass.Application/bin/Debug/net8.0
/IdScanner/SocPass.Application/obj
/IdScanner/SocPass.Domain/bin/Debug/net8.0
/IdScanner/SocPass.Domain/obj
/IdScanner/SocPass.Infrastructure/bin/Debug/net8.0
/IdScanner/SocPass.Infrastructure/obj
/IdScanner/SocPass.UI/bin/Debug/net8.0
/IdScanner/SocPass.UI/obj
/IdScanner/SocPass.UI.Application/bin/Debug/net8.0
/IdScanner/SocPass.UI.Application/obj
/IdScanner/SocPass.UI.Domain/bin/Debug/net8.0
/IdScanner/SocPass.UI.Domain/obj
/IdScanner/SocPass.UI.Infrastructure/bin/Debug/net8.0
/IdScanner/SocPass.UI.Infrastructure/obj
