body {
    font-family:"Times New Roman", Georgia, serif;
    background: #f5f5f5;
    padding: 20px;
}

.id-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

/* Common card */
.id-card {
    width: 280px;
    height: 420px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* ---------- Front Side ---------- */
.header {
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    line-height: 18px;
}

    .header h3 {
        margin: 0;
        font-size: 19px;
        color: #004080;
    }
.department_text {
    margin: 0;
    font-size: 13px;
    color: #004080;
}
.id-num {
    margin: 0;
    font-size: 12px;
    color: #1e1919;
}

.company-logo-container {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
}

    .company-logo-container img {
        max-width: 90%; 
        max-height: 90%;
        object-fit: cover; 
        display: block;
    }

/*.company-logo {
    width: 69px;
    height: 63px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}*/

.photo {
    margin: 10px auto;
    width: 150px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

    .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.signature img {
    /*    width: 255px;
    height: 38px;*/
    max-width: 255px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin: 5px 0;
    object-fit: cover;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #003366;
}

.footer {
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
    text-align: left;
    gap: 10px;
}

    .footer .approved {
        display: flex;
        align-items: center;
        gap: 4px;
    }

        .footer .approved img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }

    .footer .authority {
        text-align: left;
        padding-top: 4px;
    }

/* ---------- Back Side ---------- */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qr img {
    width: 140px;
    height: 140px;
}

.blood {
    margin-right: 4px;
    margin-bottom: 1px;
    height: 72px;
    width: 94px;
    border: 1px solid #000;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.highlight {
    background: yellow;
    font-weight: 600;
    font-size: 30px;
    margin: 12px 0;
    padding: 5px;
    height: 42px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.contact {
   
}

.mobile_number {
    margin-top: 2px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: 105%;
    text-shadow: 0.3px 0 0 currentColor;
    letter-spacing: 0.7px;
}
.aadhar_number {
    margin-top: -16px;
    font-size: 28px;
    font-weight: 500;
    font-stretch: 105%;
    text-shadow: 0.3px 0 0 currentColor;
    letter-spacing: 0.7px;
}

.masked {
    letter-spacing: 2px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
}

.note {
    font-size: 11px;
    color: red;
    text-align: left;
    max-width: 70%;
    line-height: 1.1;
}

.logo img {
    width: 80px;
    height: auto;
}
.logo span {
    font-size: 11px;
    text-align:left;
    padding-left:8px;
}
@media print {
    body {
        font-family: Arial, sans-serif;
        color: #333;
        font-size: 12px; 
        line-height: 1.2; 
    }

    @page {
        margin: 15mm; 
    }

    .no-print,
    .no-print * {
        display: none !important;
        visibility: hidden !important;
    }

  
    table {
        border-collapse: collapse;
    }

        table td, table th {
            padding: 4px; 
        }
}


